<form action="{% url 'adjust_bag' item.item_id %}" class="form update-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
            </div>
            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="10" data-item_id="{{ item.item_id }}">
            <div class="input-group-append">
            </div>
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>